Repository metahkg/metahkg-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagging, trigger_api_generate, trigger_openapi_spec

tagging:
  image: node:18-alpine
  stage: deploy
  allow_failure: true
  before_script:
  - apk add git
  - git config --global user.name metahkg-bot
  - git config --global user.email bot@metahkg.org
  - git config pull.rebase false
  - git remote set-url origin https://root:$GITLAB_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH
  ...

trigger_api_generate:
  variables:
    UPDATE: 'true'
  trigger:
    project: $CI_PROJECT_NAMESPACE/metahkg-api
    branch: $CI_COMMIT_BRANCH

trigger_openapi_spec:
  variables:
    UPDATE: 'true'
    branch: $CI_COMMIT_BRANCH
  trigger:
    project: $CI_PROJECT_NAMESPACE/openapi-spec

fix(game): create options
  openapi.yaml
  src/routes/games/guess/create.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.2
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(game): checkGame
  src/plugins/checkGame.ts
Due: none

fix(openapi): parameters
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.3
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(search): decodeURIComponent error (resolves #3)
  src/routes/threads/search.ts
Due: none

fix(openapi): commentContent
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.4
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

lint
  src/routes/threads/search.ts
Due: none

fix(openapi): profile games
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.5
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(openapi): commentContent types
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.6
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(games): info at root
  openapi.yaml
  src/routes/games/guess/index.ts
  src/routes/games/index.ts
  src/routes/games/info.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.7
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix: v6.11.1 migrate script
  src/migrate/v6.11/v6.11.1.ts
Due: none

fix(games): guess odds
  src/routes/games/guess/guess.ts
Due: none

fix(openapi): games guess
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

games: game list & user bets
  openapi.yaml
  src/lib/agenda.ts
  src/migrate/v6.11/v6.11.8.ts
  src/models/games.ts
  src/models/user.ts
  src/routes/games/games.ts
  src/routes/games/guess/answer.ts
  src/routes/games/guess/create.ts
  src/routes/games/guess/guess.ts
  src/routes/me/games/guess.ts
  src/routes/me/games/index.ts
  src/routes/me/index.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.8
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(openapi): date-time
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

fix: mongodb currentDate
  src/migrate/v6.11/v6.11.8.ts
  src/routes/games/guess/answer.ts
  src/routes/games/guess/guess.ts
Due: none

games: add type
  openapi.yaml
  src/routes/games/games.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.9
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(meGamesGuess): fix 404 not found and use filter
  src/routes/me/games/guess.ts
  src/routes/me/index.ts
Due: none

fix(openapi): gamesGuessAnswer
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.9-1
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(guess answer): forEach
  src/routes/games/guess/answer.ts
Due: none

fix(guess answer): schema
  src/routes/games/guess/answer.ts
Due: none

fix(thread lists): filter links
  src/routes/categories/threads.ts
  src/routes/threads/search.ts
  src/routes/threads/threads.ts
  src/routes/users/user/threads.ts
Due: none

fix(mongo): set timeout to 100000 ms
  src/lib/common.ts
Due: none

fix(email): smtp sender
  src/lib/email.ts
Due: none

fix(schemas): allow captcha token with length up to 5000
  src/lib/schemas.ts
Due: none

lint
  src/lib/schemas.ts
Due: none

[Snyk] Security upgrade sharp from 0.31.3 to 0.32.6
  package.json
  yarn.lock
Due: tagging

[Snyk] Fix for 1 vulnerabilities
  package.json
  yarn.lock
Due: tagging

Path conditions:
  tagging: any of: package.json
  trigger_api_generate: any of: openapi.yaml
  trigger_openapi_spec: any of: openapi.yaml
