Repository metahkg/metahkg-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagging, trigger_api_generate, trigger_openapi_spec

Path conditions:
  tagging: any of: package.json
  trigger_api_generate: any of: openapi.yaml
  trigger_openapi_spec: any of: openapi.yaml

feat: branding
  .env.example
  example.env
  openapi.yaml
  src/lib/config.ts
  src/lib/email.ts
  src/routes/server/config.ts
Due: trigger_api_generate, trigger_openapi_spec

feat(server config): add captcha site key
  example.env
  openapi.yaml
  src/lib/config.ts
  src/routes/server/config.ts
Due: trigger_api_generate, trigger_openapi_spec

feat(server config): add domains
  example.env
  openapi.yaml
  src/lib/config.ts
  src/routes/server/config.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.10.0
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

update: CHANGELOG.md
  CHANGELOG.md
Due: none

fix: add MAIL variable
  example.env
  src/lib/config.ts
  src/lib/email.ts
Due: none

format code with prettier
  CHANGELOG.md
Due: none

fix(config): TURNSTILE_SITE_KEY
  src/lib/config.ts
Due: none

ci: fix fuzzing & tagging
  .gitlab-ci.yml
  ci/pre-api-fuzzing.sh
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: tagging

fix: auto migrate script
  src/scripts/autoMigrate.ts
Due: none

Revert "chore: upgrade dependencies"
  package.json
  yarn.lock
Due: tagging

fix: thread conversation sort
  src/routes/threads/thread/thread.ts
Due: none

fix(mail): use MAIL_PROVIDER to prevent conflict with system MAIL variable
  example.env
  src/lib/config.ts
  src/lib/email.ts
Due: none

fix(thread): return empty array when no comments match
  src/routes/threads/thread/thread.ts
Due: none

fix(auto migrate): replace regex
  src/scripts/autoMigrate.ts
Due: none

chore: set version v6.9.2
  package.json
Due: tagging

Revert "update: CHANGELOG.md"
  CHANGELOG.md
Due: none

fix(edit): replace links and images
  src/routes/threads/thread/comments/actions/edit.ts
Due: none

fix(migrate): v6.9 migrate script
  src/migrate/v6.9/v6.9.1.ts
  src/migrate/v6.9/v6.9.2.ts
Due: none

chore: findImages
  src/lib/findImages.ts
  src/routes/threads/create.ts
  src/routes/threads/thread/comments/actions/edit.ts
  src/routes/threads/thread/comments/create.ts
  src/routes/threads/thread/comments/emotion/set.ts
Due: none

fix(migrate): v6.9 migrate script
  src/migrate/v6.9/v6.9.2.ts
  src/migrate/v6.9/v6.9.3.ts
Due: none

chore: set version v6.9.3
  package.json
Due: tagging

fix(migrate): v6.9 migrate script
  src/migrate/v6.9/v6.9.1.ts
  src/migrate/v6.9/v6.9.2.ts
  src/migrate/v6.9/v6.9.3.ts
Due: none

ci: update from dev
  .gitlab-ci.yml
  ci/pre-api-fuzzing.sh
Due: none

fix(docker): add EXPOSE 3000 (default port)
  Dockerfile
Due: none

fix(openapi): authSessionRefresh security
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

feat: games (guessing)
  openapi.yaml
  src/app.ts
  src/lib/agenda.ts
  src/lib/common.ts
  src/lib/schemas.ts
  src/lib/sessions/createSession.ts
  src/migrate/v6.11/v6.11.0.ts
  src/models/games.ts
  src/models/user.ts
  src/plugins/checkGame.ts
  src/routes/games/guess/answer.ts
  src/routes/games/guess/create.ts
  src/routes/games/guess/guess.ts
  src/routes/games/guess/index.ts
  src/routes/games/guess/info.ts
  src/routes/games/index.ts
  src/routes/index.ts
  src/routes/users/user/profile.ts
  src/scripts/mongo/setupMongo.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.0
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

feat(comment): html & game
  openapi.yaml
  src/lib/schemas.ts
  src/migrate/v6.11/v6.11.1.ts
  src/models/thread.ts
  src/routes/threads/create.ts
  src/routes/threads/thread/comments/actions/edit.ts
  src/routes/threads/thread/comments/create.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version v6.11.1
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(game): change tokens
  src/lib/agenda.ts
  src/migrate/v6.11/v6.11.0.ts
  src/routes/games/guess/answer.ts
Due: none
