Repository metahkg/metahkg-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagging, trigger_api_generate, trigger_openapi_spec

tagging:
  image: node:18-alpine
  stage: deploy
  allow_failure: true
  before_script:
  - apk add git
  - git config --global user.name metahkg-bot
  - git config --global user.email bot@metahkg.org
  - git config pull.rebase false
  - git remote set-url origin https://root:$GITLAB_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH
  ...

trigger_api_generate:
  variables:
    UPDATE: 'true'
  trigger:
    project: $CI_PROJECT_NAMESPACE/metahkg-api
    branch: $CI_COMMIT_BRANCH

trigger_openapi_spec:
  variables:
    UPDATE: 'true'
    branch: $CI_COMMIT_BRANCH
  trigger:
    project: $CI_PROJECT_NAMESPACE/openapi-spec

[Snyk] Security upgrade sanitize-html from 2.8.1 to 2.12.1
  package.json
  yarn.lock
Due: tagging

[Snyk] Security upgrade mongodb from 4.13.0 to 6.0.0
  package.json
  yarn.lock
Due: tagging

[Snyk] Security upgrade nodemailer from 6.9.0 to 6.9.9
  package.json
  yarn.lock
Due: tagging

[Snyk] Fix for 1 vulnerabilities
  package.json
  yarn.lock
Due: tagging

Revert "Merge branch 'snyk-fix-a32568f332eae27be2b9caa032b91a2a' into 'dev'"
  package.json
  yarn.lock
Due: tagging

[Snyk] Security upgrade mongodb from 4.13.0 to 4.17.0
  package.json
  yarn.lock
Due: tagging

feat: polls removed games
  openapi.yaml
  src/lib/agenda.ts
  src/lib/common.ts
  src/lib/schemas.ts
  src/migrate/v6.11/v6.11.0.ts
  src/migrate/v6.11/v6.11.1.ts
  src/migrate/v6.11/v6.11.8.ts
  src/models/games.ts
  src/models/polls.ts
  src/models/thread.ts
  src/models/user.ts
  src/plugins/checkPoll.ts
  src/routes/games/games.ts
  src/routes/games/guess/answer.ts
  src/routes/games/guess/guess.ts
  src/routes/games/index.ts
  src/routes/games/info.ts
  src/routes/index.ts
  src/routes/me/games/index.ts
  src/routes/me/index.ts
  src/routes/me/votes/index.ts
  src/routes/me/votes/polls.ts
  src/routes/polls/create.ts
  src/routes/polls/index.ts
  src/routes/polls/info.ts
  src/routes/polls/vote.ts
  src/routes/threads/create.ts
  src/routes/threads/thread/comments/create.ts
  src/routes/users/user/profile.ts
  src/scripts/mongo/setupMongo.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.12.0
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(openapi): pollcomment & operationid of meVotesPolls
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.12.1
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(openapi): pollcomment
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.12.2
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(poll vote): date.getTime
  src/routes/polls/vote.ts
Due: none

fix(openapi): poll option is title not text
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.12.3
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(poll vote): disallow more than one votes
  openapi.yaml
  src/routes/polls/vote.ts
Due: trigger_api_generate, trigger_openapi_spec

fix(meVotesPolls): fix schema
  openapi.yaml
  src/routes/me/votes/polls.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.12.4
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix(ci): tagging
  .gitlab-ci.yml
Due: none

feat: search users (admin only)
  openapi.yaml
  src/lib/regex.ts
  src/routes/users/index.ts
  src/routes/users/users.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.13.0
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

ci: remove lint
  .gitlab-ci.yml
  package.json
Due: tagging

fix(tsconfig): skip libcheck
  tsconfig.json
Due: none

chore: format code
  package.json
  src/app.ts
  src/routes/threads/thread/comments/create.ts
  src/types/jwt.ts
Due: tagging

fix(docker): yarn install --production
  Dockerfile
Due: none

fix(category delete): remove body schema
  src/routes/categories/actions/delete.ts
Due: none

fix(openapi): use boolean instead of enum of true and false
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.13.1
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

update: CHANGELOG.md
  CHANGELOG.md
Due: none

fix(dependencies): downgrade sharp to 0.32.6
  package.json
  yarn.lock
Due: tagging

fix(autoMigrate): sort from old migrates to new migrates
  src/scripts/autoMigrate.ts
Due: none

fix: email schema
  src/lib/schemas.ts
  src/routes/users/users.ts
Due: none

fix(schemas): add typebox formats
  src/app.ts
  src/lib/formats/date-time.ts
  src/lib/formats/date.ts
  src/lib/formats/email.ts
  src/lib/formats/index.ts
  src/lib/formats/ipv4.ts
  src/lib/formats/ipv6.ts
  src/lib/formats/time.ts
  src/lib/formats/url.ts
  src/lib/formats/uuid.ts
Due: none

Path conditions:
  tagging: any of: package.json
  trigger_api_generate: any of: openapi.yaml
  trigger_openapi_spec: any of: openapi.yaml
