Repository metahkg/metahkg-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagging, trigger_api_generate, trigger_openapi_spec

tagging:
  image: node:18-alpine
  stage: deploy
  allow_failure: true
  before_script:
  - apk add git
  - git config --global user.name metahkg-bot
  - git config --global user.email bot@metahkg.org
  - git config pull.rebase false
  - git remote set-url origin https://root:$GITLAB_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH
  ...

trigger_api_generate:
  variables:
    UPDATE: 'true'
  trigger:
    project: $CI_PROJECT_NAMESPACE/metahkg-api
    branch: $CI_COMMIT_BRANCH

trigger_openapi_spec:
  variables:
    UPDATE: 'true'
    branch: $CI_COMMIT_BRANCH
  trigger:
    project: $CI_PROJECT_NAMESPACE/openapi-spec

fix: changelog and tagging logic
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

chore: set version 6.13.2
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

feat(search users): include count
  openapi.yaml
  src/routes/users/users.ts
Due: trigger_api_generate, trigger_openapi_spec

ci: fix tagging
  .gitlab-ci.yml
Due: none

chore: set version 6.13.3
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

ci: update .deepsource.toml
  .deepsource.toml
Due: none

feat: get threads from followed users
  openapi.yaml
  src/routes/threads/following.ts
  src/routes/threads/index.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.14.0
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

feat: use another collection for storing last user id and last thread id to reduce time required
  src/lib/common.ts
  src/migrate/v6.14/v6.14.1.ts
  src/models/system.ts
  src/routes/auth/verify.ts
  src/routes/threads/create.ts
Due: none

chore: upper-case the first letter
  src/lib/hmac.ts
  src/scripts/mongo/setupMongo.ts
Due: none

fix(sitemap): hide hidden categories & their threads
  src/sitemap.ts
Due: none

fix(sitemap): return 404 if visibility is internal
  src/sitemap.ts
Due: none

feat(sitemap): add redis caching
  src/sitemap.ts
Due: none

chore: set version 6.14.1
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix(sitemap): return 404 before setting type as xml
  src/sitemap.ts
Due: none

feat: health endpoint
  openapi.yaml
  src/routes/health.ts
  src/routes/index.ts
Due: trigger_api_generate, trigger_openapi_spec

chore: update .gitignore
  .gitignore
Due: none

chore: set version 6.15.0
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

update: CHANGELOG.md
  CHANGELOG.md
Due: none

fix(openapi): error for /health should be of text/plain
  openapi.yaml
Due: trigger_api_generate, trigger_openapi_spec

chore: set version 6.15.1
  openapi.yaml
  package.json
Due: tagging, trigger_api_generate, trigger_openapi_spec

fix: migrate script for comment types
  src/migrate/v6.14/v6.14.1.ts
Due: none

fix(migrate v6.14): support recursive & pinned comments
  src/migrate/v6.14/v6.14.1.ts
Due: none

fix(migrate v6.14): fix null comments
  src/migrate/v6.14/v6.14.1.ts
Due: none

fix(migrate v6.9.1): support recursive & pinned comments
  src/migrate/v6.9/v6.9.1.ts
Due: none

fix: remove weeklyTokens
  src/app.ts
Due: none

feat: captcha bypass code
  example.env
  src/lib/config.ts
  src/plugins/requireCaptcha.ts
Due: none

Path conditions:
  tagging: any of: package.json
  trigger_api_generate: any of: openapi.yaml
  trigger_openapi_spec: any of: openapi.yaml
